<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<style type="text/css">

    #linechart {
       width:inherit;
        height: 400px;
        margin: 0 auto
    }

    #genderpiechart {
        width:inherit;
        height: auto ;
        margin: 0 auto
    }

    #barchart {
        width:inherit;
        height: auto ;
        margin: 0 auto
    }

    /* DivTable.com */
    .divTable{
        display: table;
        width: 100%;
    }
    .divTableRow {
        display: table-row;
    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }
    .divTableCell, .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        padding: 3px 10px;
    }
    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }
    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }
    .divTableBody {
        display: table-row-group;
    }





</style>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"> </script>
<script src="https://use.fontawesome.com/b2d961dbda.js"></script>
<style type="text/css">
    .media-photo {
        width: 35px;
    }
    .table-fixed thead {
        width: 97%;
    }
    .table-fixed tbody {
        height: 230px;
        overflow-y: auto;
        width: inherit;
    ;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
        display: block;

    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
        float: left;
        border-bottom-width: 0;
    }


</style>
<body>
<table  width="100%">
    <tbody>
    <tr>
        <td valign="center"  >Nombre d'utilisateur blocké : 10<</td>
        <td valign="center"  >Nombre d'utilisateur inactive: 5 </td>
        <td valign="center"  >Nombre d'utilisateur inactive: 5 </td>

    </tr>
    </tbody>
</table>
<table border="1" width="100%">

    <tbody>

    <tr>
        <td style="width: 800px;"><div id="linechart"></div></td>
        <td><div id="genderpiechart"></div></td>
    </tr>
    <tr>
        <td><div id="barchart"></div></td>
        <td  valign="center" >
            <table class="table table-fixed">
                <caption>fsddfsdfsdf</caption>
                <thead>
                <tr>
                    <th class="col-xs-8">Name</th><th class="col-xs-2">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-xs-8">
                        <img src="http://localhost/upload/uploads/user.png" class="media-photo">
                        Turki Mohamed
                        &nbsp; (oussamareguez@gmail.com)&nbsp;
                        <i class="fa fa-female fa-2x "   style="color:#F62459;" aria-hidden="true"></i>



                    </td>


                    <td class="col-xs-2">23</td>
                </tr>

                <tr>
                    <td class="col-xs-8">
                        <img src="http://localhost/upload/uploads/user.png" class="media-photo">
                        Turki Mohamed
                        &nbsp; (oussamareguez@gmail.com)&nbsp;
                        <i class="fa fa-female fa-2x "   style="color:#F62459;" aria-hidden="true"></i>



                    </td>


                    <td class="col-xs-2">23</td>
                </tr>
                <tr>
                    <td class="col-xs-8">
                        <img src="http://localhost/upload/uploads/user.png" class="media-photo">
                        Turki Mohamed
                        &nbsp; (oussamareguez@gmail.com)&nbsp;
                        <i class="fa fa-female fa-2x "   style="color:#F62459;" aria-hidden="true"></i>



                    </td>


                    <td class="col-xs-2">23</td>
                </tr>
                <tr>
                    <td class="col-xs-8">
                        <img src="http://localhost/upload/uploads/user.png" class="media-photo">
                        Turki Mohamed
                        &nbsp; (oussamareguez@gmail.com)&nbsp;
                        <i class="fa fa-female fa-2x "   style="color:#F62459;" aria-hidden="true"></i>



                    </td>


                    <td class="col-xs-2">23</td>
                </tr>
                <tr>
                    <td class="col-xs-8">
                        <img src="http://localhost/upload/uploads/user.png" class="media-photo">
                        Turki Mohamed
                        &nbsp; (oussamareguez@gmail.com)&nbsp;
                        <i class="fa fa-female fa-2x "   style="color:#F62459;" aria-hidden="true"></i>



                    </td>


                    <td class="col-xs-2">23</td>
                </tr>





                </tbody>
            </table>

        </td>
    </tr>

    </tbody>
</table>


<script>
    Highcharts.chart('linechart', {

        title: {
            text: 'Solar Employment Growth by Sector, 2010-2016'
        },

        subtitle: {
            text: 'Source: thesolarfoundation.com'
        },

        yAxis: {
            title: {
                text: 'Number of Employees'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                pointStart: 2010
            }
        },

        series: [{
            name: 'Installation',
            data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
        }, {
            name: 'Manufacturing',
            data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
        }, {
            name: 'Sales & Distribution',
            data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
        }, {
            name: 'Project Development',
            data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
        }, {
            name: 'Other',
            data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
        }]

    });
    Highcharts.chart('genderpiechart', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Browser market shares January, 2015 to May, 2015'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Microsoft Internet Explorer',
                y: 56.33
            }, {
                name: 'Chrome',
                y: 24.03,
                sliced: true,
                selected: true
            }, {
                name: 'Firefox',
                y: 10.38
            }, {
                name: 'Safari',
                y: 4.77
            }, {
                name: 'Opera',
                y: 0.91
            }, {
                name: 'Proprietary or Undetectable',
                y: 0.2
            }]
        }]
    });
    Highcharts.chart('barchart', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Efficiency Optimization by Branch'
        },
        xAxis: {
            categories: [
                'Seattle HQ',
                'San Francisco',
                'Tokyo'
            ]
        },
        yAxis: [{
            min: 0,
            title: {
                text: 'Employees'
            }
        }, {
            title: {
                text: 'Profit (millions)'
            },
            opposite: true
        }],
        legend: {
            shadow: false
        },
        tooltip: {
            shared: true
        },
        plotOptions: {
            column: {
                grouping: false,
                shadow: false,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Employees',
            color: 'rgba(165,170,217,1)',
            data: [150, 73, 20],
            pointPadding: 0.3,
            pointPlacement: -0.2
        }, {
            name: 'Employees Optimized',
            color: 'rgba(126,86,134,.9)',
            data: [140, 90, 40],
            pointPadding: 0.4,
            pointPlacement: -0.2
        }, {
            name: 'Profit',
            color: 'rgba(248,161,63,1)',
            data: [183.6, 178.8, 198.5],
            tooltip: {
                valuePrefix: '$',
                valueSuffix: ' M'
            },
            pointPadding: 0.3,
            pointPlacement: 0.2,
            yAxis: 1
        }, {
            name: 'Profit Optimized',
            color: 'rgba(186,60,61,.9)',
            data: [203.6, 198.8, 208.5],
            tooltip: {
                valuePrefix: '$',
                valueSuffix: ' M'
            },
            pointPadding: 0.4,
            pointPlacement: 0.2,
            yAxis: 1
        }]
    });
</script>
<!-- DivTable.com -->
</body>
