{% extends "UserBundle::layout.html.twig" %}
{% block main %}

    <main class="main" role="main">




        <div class="wrap">
            <div class="first-title">Mon compte</div>
            <div class="row">

                <!--- Sidebar -->
                <aside class="one-fourth sidebar left">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="categories">
                            <li class="active"><a href="#tab1">Mon compte</a></li>
                            <li><a href="#tab2">Mes trajets</a></li>
                        </ul>
                    </div>
                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->


                <!--- Content MAIN -->
                <div class="three-fourth content">
                    <!-- Post -->
                    <!--- Content -->
                    <!--- Content -->
                    <!-- Tab -->
                    <article class="single" id="tab1">
                        <div class="box">

                            <h2>Mon profil</h2>
                            <form action="/mon_compte"  class='' method="post" enctype="multipart/form-data">


                                <fieldset>

                                    <div class="form-group radios">

                                        <div>
                                            <input type="radio" name="gender" id="Homme" value="masculin" checked  />
                                            <label for="Homme">Homme</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="gender" id="Femme" value="feminin"   />
                                            <label for="oneway">Femme</label>
                                        </div>
                                    </div>
                                    <br /><br />

                                    <div class="f-row">
                                        <div class="one-half">



                                            <input type="file" id="form_file" name="form[file]" accept="image/png, image/jpeg, image/gif" class="parcourir" /> <!-- rename it -->
                                        </div>






                                        <div class="one-half">
                                            <button type="submit" id="form_Ok" name="form[Ok]" class="btn color par2">Ok</button>

                                            <a href="javascript:void(0)" class="trigger1 color" title="Read more">&nbsp;?&nbsp;</a>
                                            <img src="/assets/frontoffice/images/NoPict-Female.png" width="96" height="96" class="par2img" />
                                        </div>
                                    </div>
                                    <input type="hidden" id="form__token" name="form[_token]" value="qw9n6ZeAhu9lzCT854GBP3p5rbafj7B4Ap3ABh428zY" />



                                    <div class="f-row">
                                        <div class="one-half">
                                            <label for="name">Nom</label>
                                            <input type="text" id="name" name="lastname" placeholder="Votre nom" value="reguez" required />
                                        </div>
                                        <div class="one-half">
                                            <label for="company">Prénom</label>
                                            <input type="text" id="surname" name="name" placeholder="Votre prénom" value="oussama" required/>
                                        </div>
                                    </div>
                                    <div class="f-row">
                                        <div class="one-half">
                                            <label for="email">Adresse email</label>
                                            <input type="email" id="email" name="email" placeholder="Email - exemple@gmail.com" value="oussamareguez@gmail.com" required />
                                        </div>
                                        <div class="one-half">

                                            <a href="/mot-de-passe-oublie/reinitialisation" >
                                                <button type="button" class="btn color medium" style="background-color: #34394a;margin-top: 8px;"   data-target="/mot-de-passe-oublie/reinitialisation" ><i class="icon icon-left s7-trash"></i> Redéfinir mon mot de passe</button>
                                            </a>
                                        </div>
                                    </div>

                                    <!-- MODAL REDEFINIR MOT DE PASSE  -->
                                    <div id="mod-reset" tabindex="-1" role="dialog" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>Redéfinir votre mot de passe </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="text-center">
                                                        <p>En cours...</p>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" data-dismiss="modal" class="btn color small">Annuler</button>
                                                    <a href="#"><button type="button" formtarget="" class="btn color small">Envoyer</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <!--- //MODAL REDEFINIR MOT DE PASSE -->




                                    <div class="f-row">
                                        <div class="one-half">
                                            <label for="dep-date" style="float:left;">Date de naissance</label>
                                            <input type="number" id="jour" name="jr"value="" placeholder="jj" style="width:50px; float:left; margin:13px 0 0 -140px;" />
                                            <input type="number" id="mois" name="mois" value="" placeholder="mm" style="width:65px;  float:left;margin:13px 0 0 -86px;" />
                                            <input type="number" id="annee" name="annee" value="" placeholder="aaaa" style="width:70px;  float:left;margin:13px 0 0 -17px;" />
                                        </div>
                                        <div class="one-half">
                                            <label for="activité">Mon Activité</label>
                                            <input type="text" id="activité" name="activity" value="" placeholder="Votre activité" />
                                        </div>
                                    </div>
                                    <div class="f-row">
                                        <div class="one-half">
                                            <label for="number">Téléphone mobile</label>
                                            <input type="number" id="number" name="telmobil" value="" placeholder="Exemple : 0612345678" required />
                                        </div>
                                        <div class="one-half">
                                            <label for="number">Téléphone fixe (facultatif)</label>
                                            <input type="number" id="number"name="telfix" value="" placeholder="Exemple : 0493345678"/>
                                        </div>
                                    </div>
                                    <div class="f-row">
                                        <div class="one-half">
                                            <label for="number">Ville</label>
                                            <input type="text" id="ville" name="city" value="tunis" placeholder="Votre ville" />
                                        </div>
                                        <div class="one-half">
                                            <label for="number">Code postal (facultatif)</label>
                                            <input type="number" id="number" name="cp" value="" placeholder="Exemple : 68000"/>
                                        </div>
                                    </div>
                                    <div class="f-row">

                                        <input type="submit" name="PROFIL_SUBMIT" value="Sauvegarder" class="btn color medium" >
                                    </div>




                                </fieldset>

                            </form>

                        </div>

                        <div class="box">
                            <h2>Mon véhicule</h2>
                            <form role="form" class="" method="post" action="/mon_compte" data-toggle="validator">
                                <fieldset>
                                    <div class="form-group radios">
                                        <div><label for="vehicule">Vous avez un véhicule</label></div>
                                        <div>
                                            <input type="radio" name="vehicul" id="vehicul_oui" value="oui"  />
                                            <label for="oui">Oui</label>
                                        </div>
                                        <div>
                                            <input type="radio" name="vehicul" id="vehicul_non" value="non" checked />
                                            <label for="non">Non</label>
                                        </div>
                                    </div>

                                    <br /><br />

                                    <div class="f-row vehicul_info_disabled">
                                        <div class="one-half">
                                            <label for="marque">Marque</label>
                                            <input type="text" id="marque" name="marque" value="" placeholder="Marque de votre voiture" disabled />
                                        </div>
                                        <div class="one-half">
                                            <label for="modele">Modèle</label>
                                            <input type="text" id="model" name="model" value="" placeholder="Modèle" disabled />
                                        </div>
                                    </div>

                                    <div class="f-row vehicul_info_disabled">
                                        <div class="one-half">
                                            <label for="couleur">Couleur</label>
                                            <select name="couleur" disabled>
                                                <option >Sélectionner une couleur</option>

                                                <option value="Noir" selected>Noir</option>
                                                <option value="Gris">Gris</option>
                                                <option value="Gris métal">Gris métal</option>
                                                <option value="Marron">Marron</option>
                                                <option value="Bleu marine">Bleu marine</option>
                                                <option value="Bleu">Bleu</option>
                                                <option value="Vert">Vert</option>
                                                <option value="Bordeaux">Bordeaux</option>
                                                <option value="Rouge">Rouge</option>
                                                <option value="Orange">Orange</option>
                                                <option value="Jaune">Jaune</option>
                                                <option value="Blanc">Blanc</option>


                                            </select>
                                        </div>
                                        <div class="one-half">
                                            <label for="places">Nombre de places (conducteur inclus)</label>

                                            <select name="nbplaces" id="nbPlaces" disabled>
                                                <option>Nombre de places</option>

                                                <option value="2" selected>2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="f-row vehicul_info_disabled">
                                        <div class="one-half">
                                            <label for="immatriculation">Immatriculation (facultatif)</label>
                                            <input type="text" id="immatriculation" name="immatriculation" value="" placeholder="Immatriculation (facultative)" disabled/>
                                        </div>
                                        <div class="one-half">
                                            <label for="permis">Année du permis de conduire</label>
                                            <input type="text" id="anneePermi" name="anneePermi" value="" placeholder="Exemple : 2005" disabled />
                                        </div>
                                    </div>

                                    <div class="f-row">
                                        <input type="submit" value="Sauvegarder" id="submit2" name="VEHICUL_SUBMIT" class="btn color medium" />
                                    </div>

                                </fieldset>
                            </form>
                        </div>

                        <div class="box">
                            <h2>Notifications</h2>
                            <form role="form" class="form-horizontal" method="post" action="/mon_compte" data-toggle="validator">
                                <fieldset>

                                    <div class="f-row check">
                                        <input type="checkbox" id="checkbox1" />
                                        <label for="checkbox1">Mon adresse email</label>
                                    </div>

                                    <div class="f-row check">
                                        <div class="one-half">
                                            <input type="checkbox" id="checkbox2" />
                                            <label for="checkbox2">Mon numéro téléphone mobile</label>
                                        </div>
                                        <div class="one-half">
                                            <label for="checkbox2">Certifier</label>
                                            <input type="submit" value="&#9658" id="submit1" name="submit" class="btn par2 cert" />
                                        </div>
                                    </div>
                                    <div class="f-row check">
                                        <div class="one-half">
                                            <input type="text" placeholder="Votre numéro de mobile" name="mobile" class="okcert"/>
                                            <input type="submit" value="Ok" id="submit1" name="submit" class="btn color par2" />
                                            <a href="javascript:void(0)" class="trigger1 color" title="Read more">&nbsp;?&nbsp;</a>
                                        </div>
                                        <div class="one-half">
                                            <input type="text" placeholder="Insérer le code sms" name="code" class="okcert"/>
                                            <input type="submit" value="Ok" id="submit1" name="submit" class="btn color par2" />
                                        </div>
                                    </div>

                                    <div class="f-row check">
                                        <div class="one-half">
                                            <input type="checkbox" id="checkbox3" />
                                            <label for="checkbox3">Mon immatriculation</label>
                                        </div>
                                        <div class="one-half">
                                            <label for="checkbox3" >Certifier</label>
                                            <input type="submit" value="&#9658" id="submit1" name="submit" class="btn par2 cert" />
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="box">
                            <div class="f-row">
                                <button type="button" class="btn color medium" style="width: 100% !important;" data-toggle="modal" data-target="#mod-error" ><i class="glyphicon glyphicon-trash"></i> Supprimer mon compte Coccidriving</button>
                            </div>
                        </div>
                        <div class="box">
                            <div class="f-row">
                                <button type="button" class="btn color medium" style="width: 100% !important;"><i class="glyphicon glyphicon-off"></i> <a style="color:white" href="/logout"> Se deconnecter </a></button>
                            </div>
                        </div>
                    </article>
                    <!-- //Tab -->

                    <!-- Tab -->
                    <!-- Tab -->
                    <article class="single" id="tab2">
                        <h2>Mes trajets</h2>
                        <!-- ----------------------------------------MES TRAJETS------------------------------------ -->



                        <!-- ----------------------------------------MES Reservations------------------------------------ -->

                    </article>
                    <!-- //Tab -->
                    <!--- //Content -->

                    <!--- //Content -->
                    <!-- //Post -->
                </div>
                <!-- Notification Suppression compte -->
                <div id="mod-error" tabindex="-1" role="dialog" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Confirmation de suppression !</h4>
                            </div>
                            <div class="modal-body">
                                <div class="text-center">
                                    <p>Êtes-vous sûr(e) de vouloir <b>supprimer</b> votre compte Coccidriving ?</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn color small">Annuler</button>
                                <a href="/supprimer_compte"><button type="button" formtarget="" class="btn color small">Supprimer</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--- //notif suppression -->

                <!--- //Content MAIN -->

            </div>
        </div>
    </main>
{% endblock%}