<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>changer mot de passe</legend>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Mot de passe actuel</label>
            <div class="col-md-4">
                <input id="passwordinput" name="passwordinput" type="password" placeholder="nouveau mot de passe " class="form-control input-md">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">nouveau mot de passe </label>
            <div class="col-md-4">
                <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">verifier mot de passe</label>
            <div class="col-md-4">
                <input id="passwordinput" name="passwordinput" type="password" placeholder="placeholder" class="form-control input-md">

            </div>
        </div>

    </fieldset>
</form>
